.modal-bg {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 5;
    left:0;
    top:0;
    opacity: 0;
    display: none;
}
    

.modal {
    background-color: #f8f8ff;
    min-width: 250px;
    padding: 50px;
    border-radius: 10px;
    z-index: 7;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    margin: 0 auto;
}

.modal p {
    text-align: center;
}

.appear {
    display: block;
    opacity: 1;
    animation-duration: 200ms;
    animation-name: appear;
}

@keyframes appear {
    from {
        opacity: 0;
    }
  
    to {
        opacity: 1;
    }
  }

.modal button{
    color: #f8f8ff;
    background-color: darkgreen;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/* cart-modal */

#modal-msg-guest {
    display: none;
}

#modal-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.modal-btn {
    color: #f8f8ff;
    background-color: darkgreen;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}